*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.welcome-page {
  height: 100vh;
  background: url(https://media1.tenor.com/images/24c9fc075496b3aecfdcfb3329d10614/tenor.gif?itemid=18025297)
    no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.game-menu {
  /* margin-top: 15rem; */
  color: white;
  font-size: 2rem;
  overflow: hidden;
}
.game-menu div {
  background: limegreen;
  margin: 1rem;
  width: 150px;
  text-align: center;
  overflow: hidden;
}
.game-menu div:hover {
  background: rgb(21, 138, 21);
  transition: all 0.5s;
}
.game-menu div {
  position: relative;
}
.game-menu div::after {
  content: "";
  position: absolute;
  border-bottom: black 2px solid;
  transition: all 0.5s ease-in-out;
  top: 0;
  left: 0;
  height: 100%;
  width: 10rem;
  transform: translateX(15rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-menu div::before {
  content: "";
  position: absolute;
  border-top: black 2px solid;
  transition: all 0.5s ease-in-out;
  top: 0;
  left: 0;
  /* height:90%; */
  width: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-15rem);
}
.game-menu div:hover::after {
  transform: translateX(0);
}
.game-menu div:hover::before {
  transform: translateX(0);
}
.description{
  color:whitesmoke;
  margin: 2rem;
}
.description h2{
   font-size: 3rem;
}

/* --------------------------------------------------------------------------------------------------------- */
.main-game {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
}
.game {
  background: white;
  height: 100vh;
  color: white;
  line-height: 0;
}
.inventory {
  background: #131313;
  color: white;
  height: 100vh;
}
.misc {
  background: #131313;
  height: 100vh;
  color: white;
}

/* Tools------------------------------------------------------------------------------------------------------------- */
.misc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:-1rem;
  height: 90vh;
}
.misc .pickaxe img,
.misc .axe img,
.misc .shovel img,
.misc .wand img,
.misc .hand img, 
.misc .light img {
  width: 90px;
  height: 90px;
}
.misc .pickaxe,
.misc .axe,
.misc .shovel,
.misc .wand,
.misc .hand,
.misc .light {
  height: 95px;
  width: 95px;
  margin:1rem;
  border: grey solid 3px;
  display: flex;
}
.misc .pickaxe:hover,
.misc .axe:hover,
.misc .shovel:hover,
.misc .wand:hover,
.misc .hand:hover,
.misc .light:hover  {
  background: paleturquoise;
}
.take-pickaxe,
.drop-pickaxe,
.take-axe,
.drop-axe,
.take-shovel,
.drop-shovel,
.take-wand,
.drop-wand,
.take-hand,
.drop-hand {
  align-self: flex-end;
  position: relative;
  z-index: 5;
  display: none;
}
.misc .reset {
  margin-top:4rem;
  width: 100%;
  
}
/* Inventory----------------------------------------------------------------------------------------------------------- */
.box {
  width: 2vw;
  height: 4vh;
  background: white;
  display: inline-block;
  line-height: 0;

  position: relative;
  z-index: 0;
}
.box:hover {
  opacity: 0.8;
}
.sky-box {
  background-color: #76d6ff;
}
.ground-box {
  background: url(./img/ground.jpg);
}
.ground-top-box {
  background: url(./img/top-ground.jpg);
}
.grass-box {
  background: url(./img/grass.jpg);
}
.stone-box {
  background: url(./img/stone.jpg);
}
.wood-box {
  background: url(./img/wood.jpg);
}
.light-box{
  background-color:#ccff00;
}
.cloud-box {
  background: whitesmoke;
}
.cloud-box:hover {
  background: rgb(192, 191, 191);
}
.apple-box{
  background: maroon;
}
/* =======================================inventory */

.inventory .stonepic img,
.inventory .woodpic img,
.inventory .groundpic img,
.inventory .groundtoppic img,
.inventory .cloudpic img,
.inventory .grasspic img,
.inventory .applepic img,
.inventory .yellowpic img  {
  margin: 1.5rem 1.5rem 10rem 0rem;
  width: 160px;
  height: 60px;
}
.inventory .stonepic,
.inventory .woodpic,
.inventory .groundpic,
.inventory .groundtoppic,
.inventory .cloudpic,
.inventory .grasspic,
.inventory .applepic,
.inventory .yellowpic {
  height: 115px;
  width: 95px;
  margin: 1.4rem 1.5rem;
  border: grey solid 3px;
  display: flex;
}
.inventory .stonepic:hover,
.inventory .woodpic:hover,
.inventory .groundpic:hover,
.inventory .groundtoppic:hover, 
.inventory .cloudpic:hover,
.inventory .grasspic:hover,
.inventory .applepic:hover,
.inventory .yellowpic:hover  {
  background: paleturquoise;
}
.stonecounter,
.woodcounter,
.groundcounter,
.groundtopcounter,
.cloudcounter,
.grasscounter,
.applecounter,
.yellowcounter{
  width: 100px;
  color:turquoise;
  font-weight:bold;
}

.inventory{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.misc .shovel,
.misc .wand,
.misc .hand,
.misc .light {
  margin-top: -6rem;
}
.reset-div{
  background: grey;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-btn{
  width: 70%;
  height: 70%;
  background:chartreuse;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
  transition: all 0.5s;
}
.reset-btn:hover{
  background: pink;
}

